.card{
    width: 23rem;
    /* height: 30vh; */
    position: relative;
}

.imgCard {
    width: 300px;
    height: 400px;
}

.card-flex {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.bag-soldOut {
    position: absolute;
    color: red;
    left: 13px;
    top: 10px;
    font-weight: 600;
    padding: 5px 15px;
    background-color: white;
}